<app-header (selectedFeatureEvent)="switchView($event)"></app-header>

<div class="container pull-left">
  <div *ngIf="selectedFeature === 'documents'">
    <!-- Listen for 'selectedDocumentEvent' emitted from DocumentListComponent -->
    <app-document-list (selectedDocumentEvent)="onDocumentSelected($event)"></app-document-list>
    
    <!-- Display the selected document details in DocumentDetailComponent -->
    <app-document-detail *ngIf="selectedDocument" [document]="selectedDocument"></app-document-detail>
  </div>

  <!-- Other views for Messages and Contacts -->
  <app-message-list *ngIf="selectedFeature === 'messages'"></app-message-list>
  <app-contacts *ngIf="selectedFeature === 'contacts'"></app-contacts>
</div>
