<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" id="subject" class="form-control" #subject>
    </div>
    <div class="form-group">
      <label for="msgText">Message</label>
      <textarea id="msgText" rows="6" class="form-control" #msgText></textarea>
    </div>
    <button class="btn btn-primary" (click)="onSendMessage()">Send</button>
    <button class="btn btn-default" (click)="onClear()">Clear</button>
  </div>
</div>
