<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contacts</h3>
    <a [routerLink]="['/contacts', 'new']" class="btn btn-success">New Contact</a>
  </div>
  <div class="panel-body">
    <!-- Teams Section -->
    <h4>Teams</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let team of teams">
        <strong>{{ team.name }}</strong> 
        <ul>
          <li class="list-group-item" *ngFor="let member of team.group"> 
            <a [routerLink]="['/contacts', member.id]" routerLinkActive="active">
              <cms-contact-item [contact]="member"></cms-contact-item>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Individuals Section -->
    <h4>Individuals</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let individual of individuals">
        <a [routerLink]="['/contacts', individual.id]" routerLinkActive="active">
          <cms-contact-item [contact]="individual"></cms-contact-item>
        </a>
      </li>
    </ul>
  </div>
</div>




