<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <span class="title pad-left-right">Contacts</span>
    </div>
    <div class="row">
      <div class="input-group pull-left pad-left-right col-xs-7">
        <input
          #searchBox
          type="text"
          class="form-control"
          placeholder="Enter a search value"
          (keyup)="search(searchBox.value)"
        />
        <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
      </div>
    </div>
    <div class="pull-right pad-left-right">
      <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
    </div>
  </div>
  
  <div class="panel-body">
    <!-- Teams Section -->
    <h4>Teams</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let team of teams | contactsFilter: term">
        <strong>{{ team.name }}</strong>
        <ul class="list-group" cdkDropList (cdkDropListDropped)="onDrop($event)">
          <li class="list-group-item" *ngFor="let member of team.group ? (team.group | contactsFilter: term) : []" cdkDrag [cdkDragData]="member">
            <a [routerLink]="['/contacts', member.id]" routerLinkActive="active">
              <cms-contact-item [contact]="member"></cms-contact-item>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Individuals Section -->
    <h4>Individuals</h4>
    <ul class="list-group" cdkDropList (cdkDropListDropped)="onDrop($event)">
      <li class="list-group-item" *ngFor="let individual of individuals | contactsFilter: term" cdkDrag [cdkDragData]="individual">
        <a [routerLink]="['/contacts', individual.id]" routerLinkActive="active">
          <cms-contact-item [contact]="individual"></cms-contact-item>
        </a>
      </li>
    </ul>
  </div>
</div>






