.container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  
  .document-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
  }
  
  .document-detail {
    flex: 0;
    width: 100%; 
    padding: 20px;
  }
  